html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #198754;
}

.nav-underline .active {
  font-weight: 500;
  color: #198754 !important;
}

#navigation .nav-link.active>span {
  background-color: #198754 !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, .5);
}

/* ----------- */
.svg {
  fill: currentColor;
  vertical-align: text-bottom;
}

#search-group {

  max-width: 50%;

}

#search-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-input {
  background-clip: border-box;
  box-shadow: 0 0 0 20px white inset !important;
}

@media (max-width: 991.98px) {
  #search-group {
    max-width: none;
  }
}

.hover {
  color: currentColor;
  text-decoration: none;
  overflow: hidden;
}

.hover:hover {
  cursor: pointer;
  color: currentColor;
  background-color: #eee;
}

.page-item .page-link {
  user-select: none;
  cursor: pointer;
}

.page-item.active .page-link {
  pointer-events: none;
}

.page-link:focus {
  box-shadow: none;
}

.list-style-none {
  list-style: none;
}

.mw-500 {
  max-width: 30rem;
}

.lang-color {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

#recent-repos {
  max-height: 320px;
  overflow-y: auto;
}

.ph-avatar {
  width: 92px;
}

.shadow-success {
  box-shadow: 0 0.5rem 1rem 0px rgb(25 135 84 / 10%);
}

.page-link {
  color: #198754;
}

.page-link:hover {
  color: #121212
}

.page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
}

.dropdown-menu {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #198754 !important;
}

.img-thumbnail {
  background-color: #197c4f;
}

.dark-mode {
  background-color: #121212 !important;
  color: #198754 !important;
}

.dark-mode .bg-dark {
  background-color: #121212 !important;
}

.dark-mode .bg-body {
  background-color: #212529 !important;
}

.dark-mode .nav-underline .active {
  color: white !important;
  background-color: #6c757d !important;
  border-color: transparent !important;
}

.dark-mode .dropdown-menu {
  background-color: #212529 !important;
}

.dark-mode .dropdown-item {
  color: #6c757d !important;
}

.dark-mode .dropdown-divider {
  color: #198754 !important;
}

.dark-mode .border-bottom {
  border-color: #198754 !important;
}

.dark-mode .hover:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-mode .modal-header {
  border-bottom-color: #198754 !important;
}
.dark-mode .modal-footer {
  border-top-color: #198754 !important;
}

.dark-mode .table-hover>tbody>tr:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  border-bottom: 100vh solid #198754;
}